
<p style="color: green"><%= notice %></p>

<%= render @quote %>

<div>
  <!-- Only allow the logged-in user who created the quote to edit it -->
  <% if current_user == @quote.user %>
    <%= link_to "Edit this quote", edit_quote_path(@quote) %>
  <% end %>

  <!-- If the user is either the creator of the quote or an admin, allow them to delete the quote -->
  <% if current_user == @quote.user || is_administrator? %>
    <%= button_to 'Delete this quote', quote_path(@quote), method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
  <% end %>

</div>
