<% if is_administrator? %>
  <p style="color: green"><%= notice %></p>
  
  <h1><%= link_to "Add a Philosopher", new_philosopher_path %></h1>
  
  <br>
  
  <h2>Philosophers</h2>
  
  <div id="philosophers">
    <% @philosophers.each do |philosopher| %>
      <%= render philosopher %>
      <p>
        <%= link_to "Show this philosopher", philosopher %>
      </p>
    <% end %>
  </div>
<% else %>
  <p>You are not authorised to view this page.</p>
<% end %> 
