<!--The about page-->
<h1>About Us</h1>
<p>Welcome to MyQuote, a platform designed to connect you with timeless wisdom from renowned philosophers across history. The mission is to cultivate a deeper understanding of philosophy and inspire moments of introspection in your daily life, one quote at a time. Philosophy has the power to transform minds, challenge perceptions, and shape a more thoughtful society. Whether you're a seasoned philosopher, a curious learner, or simply seeking a dose of daily inspiration, MyQuote is here to serve as your guide. Dive in and let the wisdom of the ages enlighten your journey!</p>

<p>
This app was created by Paul Cottrell for CSI2441 Application Development at Edith Comwan University
</p>
