<p style="color: green"><%= notice %></p>

<h1><%= link_to "Add a Category", new_category_path %></h1>

<br>

<h2>Categories</h2>

<div id="categories">
  <% @categories.each do |category| %>
    <%= render category %>
    <p>
      <%= link_to "Show this category", category %>
    </p>
  <% end %>
</div>

